.devTitleHolder{
    margin-bottom: 20px;
    display: block;
}
.devContainer{
    padding: 0px !important;
}
.devContainer > LI{
    padding: 0px !important;
    border-left: 1px solid #44d3eb;
    border-radius: 4px;
    padding-left: 10px !important;
    background-color: #ffffff !important;
    font-size: 12px !important;
}
.devContainerAvatar{
    background-color: #44d3eb !important;
}

@media (max-width: 630px) {
    .bottom-entry-help P{
        display: none;
    }
}