.balanceHolder{
    position: absolute;
    right: 310px;
    top: 21px;
    cursor: pointer;
    font-size: 18px !important;
}
.balanceHolder SPAN{
    font-size: 22px !important;
    color:#fff;
    /* border:1px solid #ff068c; */
    background-color: #ff068c;
    border-radius: 4px;
    padding: 1px 10px 1px 10px;
}