.balanceHolder{
    position: fixed;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    background-color: #b91027;
    border-radius: 2px;
    color:#FFF !important;
    z-index: 101;
}
.balanceHolder SPAN{
    font-size: 14px !important;
    color:#fff;
    /* border:1px solid #ff068c; */
    padding: 0px 5px 0px 5px;
}
.tooltip-example{
    color:#FFF !important;
}
.balanceHolderFull{
    right: 00px;
}