
.topHolder
{
    /* align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    /* border-bottom: 3px solid #164a53 !important; */
    /* background: ; */
    /* width: 100%; */
    /* z-index: 999;
    background-color: #fff; */
}
.topLeft span.logo
{
    color: #000;
    font-size: 15px;
    cursor: pointer;
}
.topLeft
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    float: left;
    margin-right: 40px;
}
.topTabsHolder{
    margin-left: 0px;
    /* min-height: 100vh; */
}
.balanceHolder{
    position: absolute;
    right: 390px;
    top: 25px;
    cursor: pointer;
    padding: 2px 0px 1px 0px;
    font-size: 18px;
    background-color: #ff068c;
    padding: 0px 10px;
    border-radius: 10px;
    color:#fff;
}
.userHolder{
    position: absolute;
    right: 240px;
    top: -2px;
    cursor: pointer;
    padding: 2px 0px 1px 0px;
}
.notificationsHolder{
    position: absolute;
    right: 245px;
    top: 25px;
    cursor: pointer;
}
 .ToggleTitle{
    color: #c959e7;
    font-size: 14px !important;
 }
 .ToggleCaption{
    font-size: 11px !important;
 }
.APICheckHolder{
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 999;
    width: 20rem;
}
.APICheckHolder span{
    font-size: 10px;
    color: #000;
    font-weight: normal;
}
.APICheckHolder img {
    width: 16px;
    cursor: pointer;
}
.APICheckClicker{
    cursor: pointer;
}
.SettingsPartsHolder{
    width: 350px;
}
.formControl{
    width: 300px;
}
@media (max-width: 1050px) {
    /* .templateSwitchHolder {
      display: none;
    }
    .greetingsBoxesSwitchHolder {
        display: none;
    } */
    /* .DBSwitchHolder_text {
        display: none;
    } */
}
@media (max-width: 750px) {
    .release_builddate_Div{
        display: none;
    }
}
@media (max-width: 700px) {
    .topLeft span {
        font-size: 14px;
    }
    .APICheckHolder_text{
        display: none;
    }
    .SettingsPartsHolder{
        width: 250px;
    }
    .formControl{
        width: 200px;
    }
}

.MuiSwitch-sizeMedium{
    height: 32px !important;
    width: 48px !important;
}
.MuiSwitch-thumb{
    width: 14px !important;
    height: 14px !important;
    /* border-radius: 0px !important; */
}
.Mui-checked+.MuiSwitch-track{
    background-color: #d96da7 !important;
    opacity: 1 !important;
}

.stackLoadingMessages{
    font-size: 13px;
}
.stackLoadingMessages IMG, .stackLoadingTitle IMG{
    width: 25px;
}