
.topLeft span.logo
{
    color: #000;
    font-size: 15px;
    cursor: pointer;
}
.topLeft
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    float: left;
    margin-right: 10px;
    margin-left: 4px;
}
.release_version_Div{
    background-color: #83c5be;
    border-radius: 4px;
    padding: 0px 5px;
}
.topTabsHolder{
    margin-left: 0px;
    /* min-height: 100vh; */
}
.userHolder{
    position: fixed;
    right: 0px;
    bottom: 20px;
    cursor: pointer;
    padding: 2px 0px 1px 0px;
    z-index: 101;
}
/* .userHolderFull{
    right: 0px;
} */
.userTypeHolder{
    background-color: #fff;
    color:#000;
    border-radius: 20px;
}
.notificationsHolder{
    position: absolute;
    right: 245px;
    top: 15px;
    cursor: pointer;
}
.SettingsPartsHolder{
    width: 350px;
}
.formControl{
    width: 300px;
}

@media (max-width: 1050px) {
    /* .templateSwitchHolder {
      display: none;
    }
    .greetingsBoxesSwitchHolder {
        display: none;
    } */
    /* .DBSwitchHolder_text {
        display: none;
    } */
}
@media (max-width: 750px) {
    .release_builddate_Div{
        display: none;
    }
}
@media (max-width: 700px) {
    .topLeft span {
        font-size: 14px;
    }
    .APICheckHolder_text{
        display: none;
    }
    .SettingsPartsHolder{
        width: 250px;
    }
    .formControl{
        width: 200px;
    }
}

.MuiSwitch-sizeMedium{
    height: 32px !important;
    width: 48px !important;
}
.MuiSwitch-thumb{
    width: 14px !important;
    height: 14px !important;
    /* border-radius: 0px !important; */
}
.Mui-checked+.MuiSwitch-track{
    background-color: #d96da7 !important;
    opacity: 1 !important;
}

.stackLoadingMessages{
    font-size: 13px;
}
.stackLoadingMessages IMG, .stackLoadingTitle IMG{
    width: 25px;
}