.sectionName{
    font-weight: bold;
}
.sectionCode{
    position: absolute;
    top:2px;
    right: 2px;
    background-color: bisque;
    padding: 0px 5px;
}
.sectionsDivider{
    font-size: 20px;
    font-weight: bold;
    margin:20px 0px;
    border-bottom: 2px solid #ccc;
}