.ChangeLogUL li{
    list-style-type: disc;
    margin-left: 20px;
}
.versionHeading
{
    background-color: #ff068c !important;
    margin: 5px 0px;
    padding: 4px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    color:#fff;
}
.info_release_API_type_Div{
    margin: 10px 0px;
}
.info_release_API_Div{
    border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(76, 219, 71, 0.644);
  padding: 1px;
  background-color: #735a78;
  border-radius: 6px;
  color:#fff;
  font-size: 12px !important;
  font-family: "SUSE", sans-serif !important;
}
.info_release_builddate_Div img {
    width: 24px;
    cursor: pointer;
}
.info_release_API_response_TableRow th{
    font-size: 12px !important;
    background-color: #eff1f7;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(159, 207, 146, 0.1);
    padding: 5px;
    font-family: "SUSE", sans-serif !important;
}
.info_release_API_response_TableRow td{
    font-size: 12px !important;
    border-radius: 6px;
    padding: 5px;
    display: inline-block;
    font-family: "SUSE", sans-serif !important;
}
.ActionsButtons button{
    font-size: 10px;
}
@media (max-width: 630px) {
    .bottom-entry-info P{
        display: none;
    }
}