.payrollMainHolder{
    /* margin:4px; */
}
.divBottomBorder{
    border-bottom: 2px solid #4d4646;
}
.txtSmall{
    font-size: 12px;
    width: 100px;
}
.ddSmall{
    font-size: 11px !important;
    width: 150px !important;
    padding: 0px !important;
    margin: 0px !important;
}
.ddSmall INPUT{
    font-size: 11px !important;
    width: 150px !important;
    padding: 0px !important;
    margin: 0px !important;
}
.payrollTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.payrollTable TH{
    padding:5px 10px;
    border: 1px solid #e7dede;
    background-color: rgb(190, 205, 206);
}
.payrollTable TD{
    padding:4px 2px;
    border: 1px solid #e7dede;
}
.td_Employee{
    width: 180px !important;
}
.td_StandardPay{
    width: 100px !important;
}
.td_Job{
    width: 180px !important;
}
.td_Job INPUT{
    font-size: 11px !important;
}