
.optionsHolder{
    position: absolute;
    right: 255px;
    top: 27px;
    font-size: 14px;
    align-items: center;
    justify-content: start;
    text-align: center;
    cursor: pointer;
}
.optionsHolder:hover{
    /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); */
    color: #44d3eb;
}
 .SettingsPart{
    margin: 5px;
 }
 .SettingsHighlight{
    border-left: solid 3px #f12fa7 !important;
 }
 
 .ToggleTitle{
    color: #f12fa7;
    font-size: 14px !important;
 }
 .ToggleCaption{
    font-size: 11px !important;
 }