
.greet {
    margin: 5px 0;
    font-size: 20px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 10px;
}

.greet .mainHeading {
    font-size: 66px;
    background: -webkit-linear-gradient(16deg,#c959e7,#d8bcca, #94d9e4,#44d3eb, #a8c2b2);
    /* background: linear-gradient(90deg, #fe7f49 0%, #ff068c 100%); */
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -4px;
    font-size: 35px;
}
.greet span.mainHeading_theme_2 {
    background: linear-gradient(90deg, #fe7f49 0%, #ff068c 100%);
}
.greet > div
{
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: #000;
}
.cardsMainTitle{
    padding-left: 10px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    margin: 10px 0px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,2fr));
    gap: 15px;
    padding: 2px 10px;
}

.card {
    height: 50px;
    padding: 40px 10px 50px 10px;
    /* background-color: #f0f4f9; */
    color: #000;
  background-color: #44d3eb;
  /* background-color: #ff068c;
  background: linear-gradient(90deg, #fe7f49 0%, #ff068c 100%); */
  /* color:#fff; */
    border-radius: 5px;
    position: relative;
    /* background: -webkit-linear-gradient(5deg,#c959e7,#44d3eb); */
    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.2);
}
.card p {
    color: #000;
    /* color:#fff; */
    font-size: 13px
}
.card img, .card svg {
    position: absolute;
    /* background-color: #fff; */
    border-radius: 10px;
    top: 5px;
    left: 10px
}
.card:hover svg{
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}
.templeteTypeHolder
{
    margin-left: 10px;
}

.recent-entry-home {
    display: flex;
    gap: 20px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: #f8ecec solid 1px;
}

.recent-entry-home:hover {
    border-left: 3px solid #31b0c7 !important;
    padding-left: 3px;
    color: #201E43;
}

.recent-entry-home img {
    width: 16px;
}
.recent-entry-home .pitem {
    white-space: nowrap;
    margin: 0px !important;
    color: #616362;
}
/* PAGINATION */
.pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 15px;
}
.page-item:first-child .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 12px !important;
    color: #000;
    padding: .375rem .75rem;
    cursor: pointer;
}
.active > .page-link{
    background-color: #31b0c7 !important;
    border: 1px solid #ccc !important;
    color: #fff;
}
/* PAGINATION */
.greetingsBoxesSwitchHolder, .greetingsBoxesSwitchHolder .MuiFormControlLabel-label{
    color: #c959e7;
    font-size: 14px !important;
    font-family: "SUSE", sans-serif;
}
.ToggleTitle{
    line-height: 2.4;
}
.SettingsPartGreet{
    margin-left: 10px;
}
.divNoExamplePrompts{
    font-size: 13px !important;
    margin-left: 10px;
}

@media (max-width: 700px) {
    .greet span.mainHeading {
        font-size: 35px;
    }
}

@media (max-width: 800px) {
    .card{
        height: 55px;
        padding: 11px 15px 0px 38px;
    }
}