.topBannerHolder{
    background-color: #38a58c;
    position: fixed;
    bottom:20px;
    left:0px;
    width: 100%;
    z-index: 100;
}
.companyLogo{  
    color:#fff;
    padding: 4px 4px;
    display: inline-block;
    /* inline-block text-white rounded-t-lg p-0.5 px-2 text-s font-medium text-center active */
}

@media (max-width: 1200px) {
    .timeSpan{
        display: none;
    }
}