.invoiceMainHolder{
    /* margin:4px; */
}
.div_InvoiceHolderMain{
    /* border: 1px solid #ccc;
    padding:5px; */
    position: relative;
}
.div_dateHolder{
    float: right;
}
.divTitle{
    font-size: 12px !important;
}
.divTitleBig{
    font-size: 14px !important;
    font-weight: bold !important;
}
.divValue{
    font-size: 12px !important;
    font-weight: bold !important;
    background-color: #cae5e5;
    padding: 1px 10px;
    border-radius: 1px;
}
.divValue2{
    font-size: 12px !important;
    font-weight: bold !important;
    background-color: #cae5cb;
    padding: 1px 10px;
    border-radius: 1px;
}
.divValue3{
    font-size: 14px !important;
    font-weight: bold !important;
}
.tboxBig{
    width: 245px !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
.tboxBig INPUT{
    font-size: 14px !important;
    font-weight: bold !important;
}
.tboxWidthSmall{
    width: 160px !important;
    background-color: rgb(207, 243, 243);
}
.tboxWidthSmall INPUT{
    font-size: 16px !important;
    font-weight: bold !important;
}
.tboxWidthSmall2{
    width: 160px !important;
}
.tboxWidthSmall2 INPUT{
    font-size: 14px !important;
    font-weight: bold !important;
    /* padding-bottom: 12px; */
}
.divHoursHolder{
    /* position: absolute; */
    left: 19px;
    top: 60px;
}
.DivButtonsHolder{
    /* position: fixed;
    top: 32px;
    right:150px */
}
.div_contentHolder{
    background-color: rgb(242, 247, 245);
    padding: 10px;
    border-radius: 4px;
    border:1px solid #ccc;
}
.div_customInvoice {
    /* position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top;
    top: 10%;
    left: 50px;  */
    white-space: nowrap; /* Prevents text from wrapping */
    background-color: brown;
    color: white;
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.div_CompanyTopDetailsHolder{
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.div_CompanyTopDetailsHolder .title{
    font-weight: bold;
}
.div_CompanyBottomDetailsHolder{
    padding:10px 0px 2px 0px;
    text-align: left;
    border-top: 1px solid #000;
    vertical-align: top;
}
.div_invoicedialogTitle{
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0px;
    color: brown;
}
.myInvTable{
    font-size: 14px !important;
    margin-bottom: 10px;
}
.myInvTable TD{
    font-size: 14px !important;
    border: 1px solid #ccc;
}