/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto","Noto Sans", sans-serif; */
  /* font-family: "Noto Sans", sans-serif; */
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-family: "SUSE", sans-serif;
  font-size: 12px;
}
html{
  /* background-image: linear-gradient(rgb(255, 255, 255), rgb(206, 229, 253)); */
  background-repeat: repeat;
  background-color: #fff;
}
body{
  padding:0px;
}
#root {
    min-height: 100vh;
    display: flex;
    animation: fadeIn 1.5s;
}
::-webkit-scrollbar {
  width: 8px; /* Mostly for vertical scrollbars */
  height: 8px; /* Mostly for horizontal scrollbars */
  /* background-color: rgb(68 211 235); Set the background color of the scrollbar thumb */
  /* background-color: #ff068c; */
  background: linear-gradient(180deg, #fe7f49 0%, #ff068c 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* Foreground color */
  /* background-color: rgb(68 211 235); Set the background color of the scrollbar thumb */
  /* background-color: #ff068c; */
  background: linear-gradient(180deg, #fe7f49 0%, #ff068c 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  /* Background color */
  background: #eeebeb;
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.APIAvailabilityCheckNote{
  display: inline-block;
  border-left: 5px solid #3496ce;
  padding: 3px;
  color:#fff;
  border-radius: 0px;
  margin: 3px 0px;
}
.APIAvailabilityCheckSuccess{
  display: inline-block;
  border-left: 5px solid #ccc;
  padding: 3px;
  background-color:#53df6b;
  color: #000;
  border-radius: 2px;
  margin: 3px 0px;
}
.APIAvailabilityCheckError{
  display: inline-block;
  padding: 3px;
  background-color:#df465a;
  border-left: 5px solid #ccc;
  border-radius: 2px;
  margin: 3px 0px;
}
.APIAvailabilityCheckLabel{
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #eeebeb;
  padding: 0px 5px;
  color: #000;
  margin-right: 5px;
  border-radius: 2px;
}

.topTabsListHolder{
  color: #27210c !important;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddbd49;
}
.topTabsListHolder .react-tabs__tab-panel{
  min-height: 100vh;
}
.topTabsListHolder .react-tabs__tab{
  padding: 6px 6px;
  font-size: 13px !important;
}
.topTabsListHolder .react-tabs__tab--selected {
  /* border-top: 4px solid #ddbd49; */
  background-color: #a53860;
  border:0px;
  border-radius: 0px;
  color: #fff;
}

.top2TabsListHolder{
  color: #415a77 !important;
  margin-bottom: 10px;
  border-bottom: 1px solid #3496ce;
}
.top2TabsListHolder .react-tabs__tab-panel{
  min-height: 100vh;
}
.top2TabsListHolder .react-tabs__tab{
  padding: 6px 6px;
  font-size: 13px !important;
}
.top2TabsListHolder .react-tabs__tab--selected {
  /* border-top: 4px solid #3496ce; */
  border:0px;
  border-radius: 0px;
  background-color: #415a77;
  color: #fff;
}
.subTabsListHolder{
  color: #3a1120 !important;
  margin-bottom: 10px;
  border-bottom: 1px solid #3a1120;
}
.subTabsListHolder .react-tabs__tab-panel{
  min-height: 100vh;
}
.subTabsListHolder .react-tabs__tab{
  padding: 4px 10px;
  font-size: 13px !important;
}
.subTabsListHolder .react-tabs__tab--selected {
  /* border: 2px solid rgb(11, 155, 30); */
  /* border-bottom: 0px;
  border-top: 4px solid #a53860; */
  border:0px;
  border-radius: 0px;
  background-color: #f9dbbd;
  color: #000;
  border: 1px solid #3a1120;
}
.thirdTabsListHolder{
  color: rgb(6, 87, 207) !important;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(6, 87, 207);
}
.thirdTabsListHolder .react-tabs__tab-panel{
  min-height: 100vh;
}
.thirdTabsListHolder .react-tabs__tab{
  padding: 4px 10px;
  font-size: 13px !important;
}
.thirdTabsListHolder .react-tabs__tab--selected {
  border: 2px solid rgb(6, 87, 207);
  border-bottom: 0px;
  /* background-color: #ff068c;
  color: #fff; */
}


.todoTabsListHolder{
  color: #2e3013 !important;
  margin-bottom: 10px;
  border-bottom: 1px solid #2e3013;
}
.todoTabsListHolder .react-tabs__tab-panel{
  min-height: 100vh;
}
.todoTabsListHolder .react-tabs__tab{
  padding: 6px 25px 6px 10px;
  font-size: 13px !important;
}
.todoTabsListHolder .react-tabs__tab--selected {
  border-top: 4px solid #272526;
  /* background-color: #ff068c;
  color: #fff; */
}

.settingsTabsListHolder{
  font-size: 12px;
  color: #201219 !important;
  margin-bottom: 10px;
  border-bottom: 1px solid #201219;
}
.settingsTabsListHolder .react-tabs__tab-panel{
  min-height: 100vh;
}
.settingsTabsListHolder .react-tabs__tab{
  padding: 6px 10px 6px 10px;
}
.settingsTabsListHolder .react-tabs__tab--selected {
  border-top: 4px solid #272526;
  /* background-color: #ff068c;
  color: #fff; */
}
.error-summary-heading{
  background-color: #000;
  padding: 2px 10px;
  width: 100%;
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-none {
  animation: none;
}

.animate-spin {
  animation: spin 1s linear infinite;
}


.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ff068c;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
.spinnerWhite {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* FORM */
form {
  max-width: 500px;
  margin: 0 auto;
}
form P{
  background-color: #ff0606 !important;
  color:#fff !important;
  padding: 1px 5px;
  margin: 0px !important;
}

/* GRID */
.ag-theme-quartz {
  /* --ag-foreground-color: rgb(126, 46, 132) !important; */
  /* --ag-background-color: rgb(249, 245, 227) !important; */
  --ag-header-foreground-color: #fff !important;
  --ag-header-background-color: rgb(107, 114, 128) !important;
  /* --ag-odd-row-background-color: #fff !important; */
  --ag-header-column-resize-handle-color: #fff !important;
  --ag-font-size: 12px !important;
  --ag-grid-size: 6px !important;
  --ag-secondary-foreground-color:rgb(204, 30, 216) !important;
}
.ag-header-cell-filtered{
  color: #ff068c !important;
}
.rag-green{
  color: #079b13 !important;
}
.rag-green-bg{
  color: #fff !important;
  background-color: #079b13 !important;
}
.rag-red{
  color: #be3737 !important;
}
.rag-red-bg{
  color: #fff !important;
  background-color: #be3737 !important;
}
.badgeSpan{
  padding: 0px 5px;
  border-radius: 10px;
}

.rag-blue-bg{
  color: #fff !important;
  background-color: #3496ce !important;
}
.rag-gray-bg{
  color: #fff !important;
  background-color: #464343 !important;
}
.rag-gray{
  color: #464343 !important;
}
#customized-dialog-title{
width: 300px !important;
}
.myFullScreenDialog{
  margin-top: 100px;
}
.fileUploadControl INPUT{
  margin-bottom: 8px;
}