.todoItem LI{
    font-size: 11px !important;
}
.todoAPILoadingHolder{
    position: absolute;
    right: 10px;
    top:34px;
}
.todoCounts{
    position: absolute;
    top:2px;
    right:8px;
    font-size: 10px;
    padding:0px 2px;
    color:#fff;
    background-color: #000;
    border-radius: 50px;
}